@{
    ViewBag.Title = "Home Page";
}

<div style="background:transparent !important" class="jumbotron">
    <h1>TM WEB</h1>
    <p class="lead">DAW TEMA</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <img src="/Content/Images/teamwork.png" width="100%"/>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="/Content/Images/plan.png" width="100%" />

        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="/Content/Images/team.png" width="100%" />

        </p>
    </div>
</div>