@{
    /**/

    ViewBag.Title = "Afisare Echipa";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Project.ProjectId</p>
@foreach (var task in ViewBag.Tasks)
{
    <p>@task.Title</p><br />
    <a class="btn btn-success pull-left" href="/Tasks/Edit/@task.TaskId">Modifica task</a>
    <a class="btn btn-success pull-left" href="/Tasks/Show/@task.TaskId">Afis task</a>
    <form method="post" action="/Tasks/Delete/@task.TaskId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete Task</button>
    </form>

    <br />
    <br />

}
<br />
<a class="btn btn-info" href="/Tasks/New/@ViewBag.Project.ProjectId">New Task</a>

<br />
<a class="btn btn-success" href="/Teams/Index/">Afisare lista echipe</a>
<br />
<hr />
<br />
<br />
<hr />
<br />