
@{
    ViewBag.Title = "New";
}

<h2>Adaugare articol @ViewBag.IdEchip</h2>
<form method="post" action="/Tasks/New">
    <label>Titlu task</label>
    <input type="text" name="Title" />
    <br />
    <label>Status task</label>
    <textarea name="Status"></textarea>
    <label>Continut task</label>
    <textarea name="Content"></textarea>

    <br />
    <input type="hidden" name="StartDate" value="@DateTime.Now" />
    <br />
    <br />
    <input type="date" name="EndDate" />
    <br />
    <input type="hidden" name="ProjectId" value="@ViewBag.IdEchip" />

    <br />
    <button type="submit">Adauga articol</button>
</form>
