
@{
    ViewBag.Title = "AddMember";
}

<h2>AddMember</h2>
<form method="post" action="/Users/AddFriend">
    <input type="text" name="UserId" value="" />
    <input type="hidden" name="TeamId" value="@ViewBag.TeamID" />
    <button type="submit">Add Member</button>
</form>
<hr />
