@{
    /**/

    ViewBag.Title = "Lista echipe";
}
<h1>@ViewBag.Message</h1>
<h2>@ViewBag.Title</h2>

@foreach (var team in ViewBag.Teams)
{
    <p>@team.TeamName</p>
    <p>@team.TeamId</p>

    <br />
    <a class="btn btn-info" href="/Teams/Show/@team.TeamId">Afiseaza Echipa</a>

    <hr />
    <br />
}
<br />
<a class="btn btn-info" href="/Teams/New">Adauga o noua echipa</a>

<br />