@{
    /**/

    ViewBag.Title = "Afisare Echipa";
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.Team.TeamId</p>
@foreach (var proj in ViewBag.Projects)
{
    <p>@proj.ProjectName</p><br />
    <a class="btn btn-success pull-left" href="/Projects/Edit/@proj.ProjectId">Modifica proj</a>
    <a class="btn btn-success pull-left" href="/Projects/Show/@proj.ProjectId">Afis proj</a>
    <form method="post" action="/Projects/Delete/@proj.ProjectId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger pull-right" type="submit">Delete Proj</button>
    </form>

    <br />
    <br />

}
<a class="btn btn-info" href="/Projects/New/@ViewBag.Team.TeamId">New Project</a>

<br />
<a class="btn btn-success" href="/Teams/Edit/@ViewBag.Team.TeamId">Editare Echipa</a>
<a class="btn btn-success" href="/Teams/Index/">Afisare lista echipe</a>
<br />
<hr />
<br />
<br />
<hr />
<br />