@model Laborator8App.Models.Team
@{
    ViewBag.Title = "Adaugare Echipa";
}


<h1>Adaugare Echipa</h1>
<!--debug in caz de -->
<!--
<form method="post" action="/Teams/New">
    <label>Nume Echipa</label>
    <br />
    <input type="text" name="TeamName" />
    <br /><br />
    <button class="btn btn-success" type="submit">Adauga echipa</button>
</form>
-->
<br />



<center>

    <form method="post" action="/Teams/New">
        @Html.Label("TeamName", "Nume echipa")
        @Html.TextBox("TeamName", "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TeamName, null, new { @class = "text-danger" })
        <br /><br />
        <br />
        <button class="btn btn-info" type="submit">Adauga echipa</button>
        <br />

    </form>
</center>