@model  Proiect2020.Models.Comment
    @{
        ViewBag.Title = "Edit";
    }
    <form method="post" action="/Comments/Edit/@Model.CommentId">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        <br />
        @Html.HiddenFor(m => m.CommentId)
        <br />
        @Html.Label("Content", "Content")
        <br />
        @Html.EditorFor(m => m.Content)
        <br /><br />
        <button class="btn btn-sm btn-success" type="submit">Modifica echipa</button>
    </form>
