@{
    ViewBag.Title = "New";
}


<h2>Adaugare Comment</h2>

<form method="post" action="/Comments/New">

    @Html.Label("Content", "Content Comm")
    <br />
    @Html.TextBox("Content", null, new { @class = "form-control" })
    <br /><br />
    <input type="hidden" name="TaskId" value="@ViewBag.IdTask" />
    <!--HTML.Hidden, nu poate fi folosit pentru ca trebuie inclus, inca nu sunt sigur cum.-->
    <button class="btn btn-success" type="submit">Adauga comment</button>
</form>

