
@{
    ViewBag.Title = "New";
}


<h2>Adaugare Comment</h2>

<form method="post" action="/Comments/New">

    <label>Comment</label>
    <br />
    <textarea name="Content"></textarea>
    <br /><br />
    <input type="hidden" name="TaskId" value="@ViewBag.IdTask" />

    <button class="btn btn-success" type="submit">Adauga comment</button>
</form>


